body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f9f1f3;
    color: #554e5e;
}

header {
    background: #cca8e9;
    color: white;
    text-align: center;
    padding: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

main {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

form {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

input[type="text"] {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #e6b8d2;
    border-radius: 5px;
}

input[type="submit"] {
    padding: 10px 20px;
    background: #cca8e9;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

input[type="submit"]:hover {
    background: #c3bef0;
}

div {
    background: #cca8e9;
    padding: 10px;
    border: 1px solid #e6b8d2;
    border-radius: 5px;
}

footer {
    text-align: center;
}